<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.mytest2">

    <user-permission android:name="android.permission.CALL_PHONE"/>

    <uesr-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityClass.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityClass.RecycleActivity">
        </activity>
        <activity android:name=".ActivityClass.UiHandleActivity">
        </activity>
        <activity android:name=".ActivityClass.ServiceTest">
        </activity>

        <service
            android:name=".ServiceClass.MyService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".ServiceClass.MyIntentService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".ActivityClass.QueryActivity">
        </activity>
        <activity android:name=".ActivityClass.ContentProviderActivity">
        </activity>

        <!--表示启动内容提供器和允许外部应用访问此内容提供器-->
        <provider
            android:name=".ContentProviderClass.MyContentProvider"
            android:authorities="com.example.administrator.mytest2.MyContentProvider"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>

</manifest>